/* You can add global styles to this file, and also import other style files */

body {
    background-color: #9a9a9a;
    background-image: url(assets/img/background-registro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}